# Интегрирање на 2 податочни множества

Запознавање на двете множества, нивно интегрирање и агрегација на атрибутите

In [1]:
import pandas as pd
import math

In [2]:
df1 = pd.read_json("../data/mobile_phones_india.json")
print("Dataset 1 - Number of records = " + str(df1.shape[0]))
print("Dataset 1 - Number of features = " + str(df1.shape[1]))
df1.head()

Dataset 1 - Number of records = 913
Dataset 1 - Number of features = 75

,Brand,Model,Launched,Launched in India,Form factor,Dimensions (mm),Battery capacity (mAh),Fast charging,Colours,Screen size (inches),...,Barometer,Temperature sensor,Body type,Thickness,IP rating,3D face recognition,SAR value,Alternate names,Height,Rear third camera attr
0,Oppo,Reno 2F,29th August 2019,Yes,Touchscreen,161.80 x 75.80 x 8.67,4000,VOOC,"Sky White, Lake Green",6.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OnePlus,Nord,21st July 2020,Yes,Touchscreen,158.30 x 73.30 x 8.20,4115,Proprietary,"Blue Marble, Gray Onyx",6.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Itel,Vision 1,17th February 2020,Yes,Touchscreen,155.30 x 73.50 x 8.50,4000,NaN,"Gradation Blue, Gradation Purple",6.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple,iPhone 7,September 2016,Yes,Touchscreen,138.30 x 67.10 x 7.10,1960,NaN,"Black, Gold, Jet Black, Matte Black, Red, Rose...",4.70,...,Yes,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Xiaomi,Redmi Note 9 Pro,12th March 2020,Yes,Touchscreen,165.70 x 76.60 x 8.80,5020,Proprietary,"Aurora Blue, Champagne Gold, Glacier White, In...",6.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print("Column \t Number of Missing values")
df1.isna().sum()

Column 	 Number of Missing values

Brand                       0
Model                       0
Launched                   25
Launched in India         490
Form factor                47
                         ...
3D face recognition       883
SAR value                 817
Alternate names           870
Height                    912
Rear third camera attr    912
Length: 75, dtype: int64

Отстранување на колони кои имаат огромен број на вредности што недостигаат бидејќи не можеме да извлечеме никаква информација од нив

In [4]:
df1 = df1.drop(["Aspect ratio","Protection type","Fast charging","Dedicated microSD slot","Micro-USB","Wi-Fi Direct","GSM/CDMA","Pixels per inch (PPI)","Infrared","USB OTG","Lightning","FM","Mobile High-Definition Link (MHL)","Barometer","Temperature sensor","Body type","Thickness","IP rating","3D face recognition","SAR value","Alternate names","Height","Colours","Rear third camera attr","Launched in India"],axis=1)
print("Dataset 1 - Updated number of features = " + str(df1.shape[1]))

Dataset 1 - Updated number of features = 50

In [5]:
df2 = pd.read_json("../data/first_post_mobiles.json")
print("Dataset 2 - Number of records = " + str(df2.shape[0]))
print("Dataset 2 - Number of features = " + str(df2.shape[1]))
df2.head()

Dataset 2 - Number of records = 404
Dataset 2 - Number of features = 66

,manufacturer,model,price,2G,3G,USB,EDGE,GPRS,Wifi,VoLTE,...,Dual Sim,Device Type,Release Date,Extra Features,Card Slot,Expandable Storage Upto,Video,Browser Supports,Music Playback Time,Wireless Charging
0,Xiaomi,Mi Note 10 Pro,"47,074",Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Dual Sim,Smartphone,"November 6, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,iKall,K700,"5,699",Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Dual Sim,Smartphone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ssky,X2 Pro,"5,199",Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Dual Sim,Smartphone,NaN,SOS Function,Yes,Upto 64GB,"MP4, 3GP, HDV, AVI",NaN,NaN,NaN
3,Xiaomi,Redmi Note 8 Pro,"15,999",Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Dual Sim,Smartphone,"October 16, 2019","UFS2.1, Amazon Alexa Built-in",Yes,Upto 512GB,"MP4, M4V, MKV, XVID",HTML5,NaN,NaN
4,Realme,X2 Pro,"33,999",Yes,Yes,Yes,Yes,Yes,Yes,Yes,...,Dual Sim,Smartphone,"November 20, 2019",UFS 3.0,No,NaN,MP4,HTML5,NaN,NaN

In [6]:
print("Column \t Number of Missing values")
df2.isna().sum()

Column 	 Number of Missing values

manufacturer                 0
model                        0
price                        0
2G                          39
3G                           0
                          ...
Expandable Storage Upto    116
Video                      179
Browser Supports            43
Music Playback Time        358
Wireless Charging          359
Length: 66, dtype: int64

In [7]:
merged = df1.merge(df2, how='inner',left_on=["Model","Brand"], right_on=["model","manufacturer"])
print("Merged dataset - Number of records = " + str(merged.shape[0]))
print("Merged dataset - Number of features = " + str(merged.shape[1]))
merged.head()

Merged dataset - Number of records = 379
Merged dataset - Number of features = 116

,Brand,Model,Launched,Form factor,Dimensions (mm),Battery capacity (mAh),Screen size (inches),Touchscreen,Resolution,Processor,...,Dual Sim,Device Type,Release Date,Extra Features,Card Slot,Expandable Storage Upto,Video,Browser Supports,Music Playback Time,Wireless Charging
0,Oppo,Reno 2F,29th August 2019,Touchscreen,161.80 x 75.80 x 8.67,4000,6.53,Yes,"1,080x2,340 pixels",octa-core,...,Dual Sim,Smartphone,"August 28, 2019",NaN,Yes,Upto 256GB,NaN,HTML5,NaN,NaN
1,Apple,iPhone 7,September 2016,Touchscreen,138.30 x 67.10 x 7.10,1960,4.70,Yes,750x1334 pixels,2.34GHz quad-core,...,Single Sim,Smartphone,"September, 2016",NaN,No,NaN,"MP4, H.264",NaN,40hours,NaN
2,Apple,iPhone 7,September 2016,Touchscreen,138.30 x 67.10 x 7.10,1960,4.70,Yes,750x1334 pixels,2.34GHz quad-core,...,Single Sim,Smartphone,"September, 2016",NaN,No,NaN,"MP4, H.264",NaN,40hours,NaN
3,Apple,iPhone 6s,September 2015,Touchscreen,138.30 x 67.10 x 7.10,1715,4.70,Yes,750x1334 pixels,1.84GHz dual-core,...,Single Sim,Smartphone,"September, 2015",NaN,No,NaN,"MP4, H.264",NaN,50hours,NaN
4,Apple,iPhone 6s,September 2015,Touchscreen,138.30 x 67.10 x 7.10,1715,4.70,Yes,750x1334 pixels,1.84GHz dual-core,...,Single Sim,Smartphone,"September, 2015",NaN,No,NaN,"MP4, H.264",NaN,50hours,NaN

### Агрегирање на податоците

Од атрибутите во двете податочни множества ги агрегираме оние кои опишуваат исто својство на телефоните. Дополнително атрибутите  на кои вредноста е boolean сите missing values ги пополнуваме соодветно со No (доколку не е експлицитно наведено на страната на пример дека подржува 5G запишуваме дека телефонот не подржува поточно No во соодветната колона на dataframe-от)

In [8]:
def describe_column(dataframe, column_name):
    """
    prints number of nan values from dataframe[column_name]
    """
    print("Number of nan values for column \"" + column_name + "\" = " + str(dataframe[column_name].isnull().sum()))

def create_column(dataframe,column_name,value = 0):
    """
    creates a column in dataframe with name column_name
    """
    dataframe[column_name] = pd.Series([value for x in range(len(dataframe.index)+1)])

def is_null(string):
    """
    returns boolean whether the string is nan or not
    """
    return string == string

1) Месец и ден на пуштање на телефонот во продажба:

In [9]:
describe_column(merged, 'Launched')  #df1
describe_column(merged, 'Release Date')   #df2

Number of nan values for column "Launched" = 1
Number of nan values for column "Release Date" = 19

In [10]:
create_column(merged,'Launched_Month')
create_column(merged,'Launched_Month')

In [11]:
for index, row in merged.iterrows():
    if is_null(row['Launched']):
        launched = row['Launched']
        merged.loc[index,'Launched_Month']=launched.split(" ")[-2].replace(',','')
        merged.loc[index,'Launched_Year']=launched.split(" ")[-1]
    elif is_null(row['Release Date']):
        launched = row['Release Date']
        merged.loc[index,'Launched_Month']=launched.split(" ")[-2].replace(',','')
        merged.loc[index,'Launched_Year']=launched.split(" ")[-1]

merged = merged[merged['Launched_Month'] != 0]    
merged = merged[merged['Launched_Month'] != "20"]

In [12]:
merged = merged.drop(['Launched','Release Date'],axis=1)

2) Податоци за висина, ширина и тежина

In [13]:
describe_column(merged,'Height') #df2
describe_column(merged,'Width') #df2
describe_column(merged,'Weight') #df2
describe_column(merged,'Dimensions') #df2
describe_column(merged,'Dimensions (mm)') #df1
describe_column(merged, 'Weight (g)') #df1

Number of nan values for column "Height" = 19
Number of nan values for column "Width" = 19
Number of nan values for column "Weight" = 24
Number of nan values for column "Dimensions" = 19
Number of nan values for column "Dimensions (mm)" = 18
Number of nan values for column "Weight (g)" = 40

In [14]:
for index, row in merged.iterrows():
    if is_null(row['Height']):
        merged.loc[index,'Height']=row['Height'].replace("m","")
        merged.loc[index,'Width']=row['Width'].replace("m","")
    elif is_null(row['Dimensions (mm)']):
        dimensions = row['Dimensions (mm)']
        dimensions = dimensions.split(" x ")
        merged.loc[index,'Height']=dimensions[0]
        merged.loc[index,'Width']=dimensions[1]

In [15]:
for index, row in merged.iterrows():
    if row['Weight'] == row['Weight']:
        merged.loc[index,'Weight']=row['Weight'].replace("g","")
    elif row['Weight (g)'] == row['Weight (g)']:
        merged.loc[index,'Weight']=row['Weight (g)']

In [16]:
describe_column(merged,'Height') 
describe_column(merged,'Width') 
describe_column(merged,'Weight')

Number of nan values for column "Height" = 8
Number of nan values for column "Width" = 8
Number of nan values for column "Weight" = 14

In [17]:
merged = merged.drop(['Dimensions', 'Dimensions (mm)', 'Weight (g)'],axis=1)

Овие податоци ќе ги оставиме празни и ќе ги пополниме во понатамошното процесирање

3) Квалитет на предна и задна камера, број на задни камери

In [18]:
describe_column(merged,'Rear camera') #df1
describe_column(merged,'Front camera') #df1
describe_column(merged,'Rear Camera') #df2
describe_column(merged,'Front Camera') #df2

Number of nan values for column "Rear camera" = 0
Number of nan values for column "Front camera" = 0
Number of nan values for column "Rear Camera" = 0
Number of nan values for column "Front Camera" = 1

In [19]:
create_column(merged, 'Number of Rear Cameras', 1)

In [20]:
for index, row in merged.iterrows():
    rear_camera = row['Rear Camera']
    rear_camera = rear_camera.split(" ")
    merged.loc[index,'Rear Camera']=rear_camera[0].replace("MP","")
    if rear_camera[-1] == "Quad":
        merged.loc[index,'Number of Rear Cameras']=4
    elif rear_camera[-1] == "Triple":
        merged.loc[index,'Number of Rear Cameras']=3
    elif rear_camera[-1] == "Dual":
        merged.loc[index,'Number of Rear Cameras']=2

In [21]:
for index, row in merged.iterrows():
    if row['Front Camera'] == row['Front Camera']:
        front_camera = row['Front Camera'].split(" ")
        merged.loc[index,'Front Camera']=front_camera[0].replace("MP","")
    else:
        merged.loc[index,'Front Camera']=0

In [22]:
describe_column(merged,'flashType')

Number of nan values for column "flashType" = 24

In [23]:
for index, row in merged.iterrows():
    if row['flashType'] != row['flashType']:
        merged.loc[index,'flashType']="LED"   #најзастапената категорија

In [24]:
merged = merged.drop(['Rear camera','Front camera','Rear flash','Front autofocus','Front flash','Rear autofocus'
                      ,'Pop-Up Camera','Flash'],axis=1)
merged = merged.rename(mapper={'flashType': 'Flash'},axis='columns')

4) Информации за батеријата

In [25]:
describe_column(merged,'Removable Battery') #df2
describe_column(merged,'Removable battery') #df1
describe_column(merged,'Battery capacity (mAh)') #df1

Number of nan values for column "Removable Battery" = 0
Number of nan values for column "Removable battery" = 139
Number of nan values for column "Battery capacity (mAh)" = 4

Податоците за капацитетот на батеријата ќе ги оставиме празни и ќе ги пополниме во понатамошното процесирање.

In [26]:
merged = merged.rename(mapper={'Battery capacity (mAh)': 'Battery capacity'},axis='columns')
merged = merged.drop(['Removable battery'],axis=1)

In [27]:
describe_column(merged,'Bluetooth_x')
describe_column(merged,'Bluetooth_y')

Number of nan values for column "Bluetooth_x" = 5
Number of nan values for column "Bluetooth_y" = 0

In [28]:
merged = merged.rename(mapper={'Bluetooth_y': 'Bluetooth'},axis='columns')
merged = merged.drop(['Bluetooth_x'],axis=1)

6) RAM

In [29]:
describe_column(merged,'RAM_x')
describe_column(merged,'RAM_y')

Number of nan values for column "RAM_x" = 4
Number of nan values for column "RAM_y" = 0

In [30]:
for index, row in merged.iterrows():
    merged.loc[index,'RAM_y']=row["RAM_y"].replace("GB","")

In [31]:
merged = merged.rename(mapper={'RAM_y': 'RAM'},axis='columns')
merged = merged.drop(['RAM_x'],axis=1)

7) Touchscreen

In [32]:
describe_column(merged,'Touchscreen')

Number of nan values for column "Touchscreen" = 8

In [33]:
for index, row in merged.iterrows():
    if row['Touchscreen'] != row['Touchscreen']:
        merged.loc[index,'Touchscreen']="No"

In [34]:
merged = merged.drop(['Form factor'],axis=1)

8) Големина на екран

In [35]:
describe_column(merged,'Screen size (inches)')
describe_column(merged,'Size')

Number of nan values for column "Screen size (inches)" = 0
Number of nan values for column "Size" = 0

In [36]:
merged = merged.drop(['Size'],axis=1)
merged = merged.rename(mapper={'Screen size (inches)': 'Screen Size'},axis='columns')

9) Процесор

In [37]:
describe_column(merged,'Processor')
print("Values of merged['Processor'] : ")
print(merged['Processor'])
print("\n\n")
describe_column(merged,'CPU')
print("Values of merged['CPU']: ")
print(merged['CPU'])

Number of nan values for column "Processor" = 9
Values of merged['Processor'] :
0              octa-core
1      2.34GHz quad-core
2      2.34GHz quad-core
3      1.84GHz dual-core
4      1.84GHz dual-core
             ...
374     2.2GHz octa-core
375     2.2GHz octa-core
376     1.4GHz quad-core
377            octa-core
378            octa-core
Name: Processor, Length: 378, dtype: object



Number of nan values for column "CPU" = 0
Values of merged['CPU']:
0       2.1GHz
1      2.34GHz
2      2.34GHz
3      1.84GHz
4      1.84GHz
        ...
374     2.2GHz
375     2.2GHz
376     1.4GHz
377     1.4GHz
378     1.5GHz
Name: CPU, Length: 378, dtype: object

In [38]:
for index, row in merged.iterrows():
    merged.loc[index,'CPU']=row['CPU'].replace("GHz","")

In [39]:
describe_column(merged,'cpuCores')  
describe_column(merged,'Core Details')

Number of nan values for column "cpuCores" = 0
Number of nan values for column "Core Details" = 176

In [40]:
for index, row in merged.iterrows():
    merged.loc[index,'cpuCores']=row['cpuCores'].split(" ")[0]

In [41]:
merged = merged.drop(['Processor','Processor make', "Core Details"],axis=1)

10) Резолуција, pixels per inch

In [42]:
describe_column(merged,'Display Resolution')
describe_column(merged,'Resolution')

Number of nan values for column "Display Resolution" = 0
Number of nan values for column "Resolution" = 12

In [43]:
create_column(merged,'Resolution_x')
create_column(merged,'Resolution_y')

In [44]:
for index, row in merged.iterrows():
    resolution = row['Display Resolution']
    resolution = resolution.replace("pixels","").split("x")
    merged.loc[index,'Resolution_x']=resolution[0]
    merged.loc[index,'Resolution_y']=resolution[1]

In [45]:
describe_column(merged,'PPI')

Number of nan values for column "PPI" = 0

In [46]:
for index, row in merged.iterrows():
    merged.loc[index,'PPI']=row['PPI'].replace("PPI","").replace("~","")

In [47]:
merged = merged.drop(['Resolution','Display Resolution','Front Video Resolution'],axis=1)

11) Оперативен систем

In [48]:
describe_column(merged,'Operating system')
print("Values of merged['Operating system'] : ")
print(merged['Operating system'])
print("\n\n")
describe_column(merged,'OS')
print("Values of merged['OS']: ")
print(merged['OS'])

Number of nan values for column "Operating system" = 1
Values of merged['Operating system'] :
0        Android Pie
1             iOS 10
2             iOS 10
3              iOS 9
4              iOS 9
           ...
374    Android 7.1.1
375    Android 7.1.1
376    Android 7.1.2
377      Android 7.1
378      Android 7.0
Name: Operating system, Length: 378, dtype: object



Number of nan values for column "OS" = 0
Values of merged['OS']:
0      Android
1          iOS
2          iOS
3          iOS
4          iOS
        ...
374    Android
375    Android
376    Android
377    Android
378    Android
Name: OS, Length: 378, dtype: object

In [49]:
merged = merged.drop(['Operating system'],axis=1)

12) Меморија, дополнителна меморија

In [50]:
describe_column(merged, 'Internal storage')
describe_column(merged, 'Storage')

Number of nan values for column "Internal storage" = 0
Number of nan values for column "Storage" = 0

In [51]:
for index, row in merged.iterrows():
    merged.loc[index,'Internal storage']=row['Internal storage'].replace("GB","")

In [52]:
describe_column(merged, 'Expandable storage')
describe_column(merged, 'Expandable storage type')
describe_column(merged, 'Expandable storage up to (GB)')
describe_column(merged, 'Expandable Storage Upto')

Number of nan values for column "Expandable storage" = 11
Number of nan values for column "Expandable storage type" = 118
Number of nan values for column "Expandable storage up to (GB)" = 162
Number of nan values for column "Expandable Storage Upto" = 115

In [53]:
for index, row in merged.iterrows():
    if row['Expandable storage'] == "No":
        merged.loc[index,'Expandable storage up to (GB)']=0
    elif row['Expandable storage up to (GB)'] == row['Expandable storage up to (GB)']:
        merged.loc[index,'Expandable storage up to (GB)']=row['Expandable storage up to (GB)']
    elif row['Expandable Storage Upto'] == row['Expandable Storage Upto']:
        storage = row['Expandable Storage Upto'].replace("Upto","")
        if "TB" in storage:
            storage = storage.replace("TB","")
            int_storage = int(storage) * 1000
            storage = str(int_storage)
        merged.loc[index,'Expandable storage up to (GB)']=storage.replace("GB","")
    else:
        merged.loc[index,'Expandable storage up to (GB)']=0

In [54]:
merged = merged.drop(['Expandable storage','Expandable Storage Upto','Expandable storage type','Storage'],axis=1)
merged = merged.rename(mapper={'Expandable storage up to (GB)': 'Expandable storage'},axis='columns')

13) Wi-Fi

In [55]:
describe_column(merged,"Wi-Fi")
describe_column(merged,"Wifi")

Number of nan values for column "Wi-Fi" = 2
Number of nan values for column "Wifi" = 0

In [56]:
merged = merged.drop(['Wi-Fi','Wi-Fi standards supported'],axis=1)
merged = merged.rename(mapper={'Wifi': 'Wi-Fi'},axis='columns')

14) Wireless charging

In [57]:
describe_column(merged,"Wireless charging")
describe_column(merged,"Wireless Charging")

Number of nan values for column "Wireless charging" = 234
Number of nan values for column "Wireless Charging" = 327

In [58]:
for index, row in merged.iterrows():
    if row['Wireless charging'] == row['Wireless charging']:
        merged.loc[index,'Wireless charging']=row['Wireless charging']
    elif row['Wireless Charging'] == row['Wireless Charging']:
        merged.loc[index,'Wireless charging']=row['Wireless Charging']
    else:
        merged.loc[index,'Wireless charging']="No"

In [59]:
merged=merged.drop("Wireless Charging",axis=1)

15) Слушалки

In [60]:
describe_column(merged,'Headphones')
print("Values of merged['Headphones']: ")
print(merged['Headphones'])

Number of nan values for column "Headphones" = 87
Values of merged['Headphones']:
0      3.5mm
1        NaN
2        NaN
3      3.5mm
4      3.5mm
       ...
374      Yes
375      Yes
376    3.5mm
377    3.5mm
378      Yes
Name: Headphones, Length: 378, dtype: object

In [61]:
for index, row in merged.iterrows():
    if row["Headphones"] != "No":
        merged.loc[index,'Headphones']="Yes"

16) USB порта

In [62]:
describe_column(merged,'USB')
print("Values of merged['USB']: ")
print(merged['USB'])
print("\n\n")
describe_column(merged,'Usb Type')
print("Values of merged['Usb Type']: ")
print(merged['Usb Type'])

Number of nan values for column "USB" = 0
Values of merged['USB']:
0      Yes
1      Yes
2      Yes
3      Yes
4      Yes
      ...
374    Yes
375    Yes
376    Yes
377    Yes
378    Yes
Name: USB, Length: 378, dtype: object



Number of nan values for column "Usb Type" = 25
Values of merged['Usb Type']:
0         microUSB
1      Proprietary
2      Proprietary
3      Proprietary
4      Proprietary
          ...
374            NaN
375            NaN
376       microUSB
377            NaN
378            NaN
Name: Usb Type, Length: 378, dtype: object

Податоците што недостасуваат ќе ги оставиме празни и ќе ги пополниме во понатамошното процесирање.

In [63]:
merged = merged.drop(['USB','USB Type-C','USB Feature','Usb Version'],axis=1)

17) Face unlock

In [64]:
describe_column(merged,'Face unlock')
describe_column(merged,'Face Unlock')

Number of nan values for column "Face unlock" = 151
Number of nan values for column "Face Unlock" = 100

In [65]:
for index, row in merged.iterrows():
    if row['Face unlock'] == row['Face unlock']:
        merged.loc[index,'Face unlock']=row['Face unlock']
    elif row['Face Unlock'] == row['Face Unlock']:
        merged.loc[index,'Face unlock']=row['Face Unlock']
    else:
        merged.loc[index,'Face unlock']="No"

In [66]:
merged = merged.drop("Face Unlock",axis=1)

18) Sensors

In [67]:
describe_column(merged, 'Fingerprint sensor')
describe_column(merged, 'Fingerprint Sensor')

Number of nan values for column "Fingerprint sensor" = 88
Number of nan values for column "Fingerprint Sensor" = 22

In [68]:
for index, row in merged.iterrows():
    if row['Fingerprint sensor'] == row['Fingerprint sensor']:
        merged.loc[index,'Fingerprint sensor']=row['Fingerprint sensor']
    elif row['Fingerprint Sensor'] == row['Fingerprint Sensor']:
        merged.loc[index,'Fingerprint sensor']=row['Fingerprint Sensor']
    else:
        merged.loc[index,'Fingerprint sensor']="No"

In [69]:
merged = merged.drop(['In-Display Fingerprint Sensor','Fingerprint Sensor'],axis=1)

In [70]:
describe_column(merged,'Accelerometer')
describe_column(merged,'Proximity sensor')
describe_column(merged,'Ambient light sensor')
describe_column(merged,'Sensors')

Number of nan values for column "Accelerometer" = 3
Number of nan values for column "Proximity sensor" = 12
Number of nan values for column "Ambient light sensor" = 24
Number of nan values for column "Sensors" = 6

In [71]:
sensors = set()
for index, row in merged.iterrows():
    if row['Sensors'] == row['Sensors']:
        for sensor in row['Sensors'].split(","):
            sensors.add(sensor.lower().replace(" ",""))

sensor_columns=["Light Sensor","Compass Sensor","Proximity Sensor", "Magnetic Sensor", "Gravity Sensor", "Heathtracking Sensor", "Gyroscope Sensor",
               "Accelerometar Sensor", "Vibration Sensor","Laser Sensor"]

d = {'ambientlight':1, 'compass':2, 'rproximity':3, 'magnetic':4, 'gravity':5, 'magneticinductionsensor':4, 'hallsensor':4, 
     'heartrate':6, 'gyro-meter':7, 'geomagneticsensor':4, 'electroniccompass':2, 'accelerationsensor':8, 'vibrationmoto':9, 
     'e-compass':2, 'lightsensor':1, 'lasersensor':10,'gyrosensor':7, 'light':1, 
     'gyro':7, 'vibrationmotor':9, 'spo2':6,  'gyroscope':7, 
     'gravitysensor':5, 'virtualgyroscope':7, 'pedometer':6, 'proximit':3, 
     'proximitysensor':3, 'proximity':3, 'threeaxis':4, 'rgbambientlightsensor':1, 'distant':3, 'rgblightsensor':1, 
     'magneticinduction':4, 'geomagnetic':4, 'ambientlightsensor':1, 'accelerometer(g-sensor)':8, 'g-sensor':8, 
     'laserfocusandsteptrackingdual':10, 'accelerometersensor':8, 'acceleration':8, 'virtuallightsensing':1, 
     'accelerometer':8, 'ecompass':2}
for sc in sensor_columns:
    create_column(merged,sc)

In [72]:
for index, row in merged.iterrows():
    if row['Sensors'] == row['Sensors']:
        for sensor in row['Sensors'].split(","):
            if sensor.lower().replace(" ","") in d:
                i = d[sensor.lower().replace(" ","")] - 1
                merged.loc[index,sensor_columns[i]]=1
    if row['Accelerometer'] == row['Accelerometer']:
        if row['Accelerometer']=="Yes":
            merged.loc[index,"Accelerometar Sensor"]=1
        else:
            merged.loc[index,"Accelerometar Sensor"]=1
    if row['Proximity sensor'] == row['Proximity sensor']:
        if row['Proximity sensor']=="Yes":
            merged.loc[index,"Proximity Sensor"]=1
        else:
            merged.loc[index,"Proximity Sensor"]=1
    if row['Ambient light sensor'] == row['Ambient light sensor']:
        if row['Ambient light sensor']=="Yes":
            merged.loc[index,"Light Sensor"]=1
        else:
            merged.loc[index,"Light Sensor"]=1

In [73]:
merged = merged.drop(['Compass/ Magnetometer','Gyroscope','Accelerometer','Proximity sensor','Ambient light sensor','Sensors'],axis=1)

19) GPS

In [74]:
describe_column(merged,'GPS_x')
describe_column(merged,'GPS_y')

Number of nan values for column "GPS_x" = 19
Number of nan values for column "GPS_y" = 0

In [75]:
merged = merged.drop(['GPS_x'],axis=1)
merged = merged.rename(mapper={'GPS_y': 'GPS'},axis='columns')

20) NFC

In [76]:
describe_column(merged,'NFC')

Number of nan values for column "NFC" = 230

In [77]:
for index, row in merged.iterrows():
    if row['NFC'] == row['NFC']:
        merged.loc[index,'NFC']=row['NFC']
    else:
        merged.loc[index,'NFC']="No"

21) Големина на SIM картичка, број на SIM картички

In [78]:
describe_column(merged,'Number of SIMs')
describe_column(merged,'Dual Sim')

Number of nan values for column "Number of SIMs" = 16
Number of nan values for column "Dual Sim" = 0

In [79]:
for index, row in merged.iterrows():
    if row['Dual Sim'] == "Dual Sim":
        merged.loc[index,'Number of SIMs']=2
    else:
        merged.loc[index,'Number of SIMs']=1

In [80]:
describe_column(merged,'SIM Type')   
describe_column(merged,'Sim Type')
describe_column(merged,'Sim Size')

Number of nan values for column "SIM Type" = 29
Number of nan values for column "Sim Type" = 0
Number of nan values for column "Sim Size" = 27

In [81]:
for index, row in merged.iterrows():
    if row['SIM Type'] == row['SIM Type']:
        sim_type = row['SIM Type'].split("-")[0]
        merged.loc[index,'SIM Type']=sim_type
    elif row['Sim Size'] == row['Sim Size']:
        merged.loc[index,'SIM Type']=row['Sim Size'].replace("+"," ").split(" ")[0]
    else:
        merged.loc[index,'SIM Type']="Nano"

In [82]:
merged = merged.drop(["Dual Sim","Sim Type","Sim Size"],axis=1)

22) 3G, 4G, 5G

In [83]:
describe_column(merged,'3G_x')  
describe_column(merged,'3G_y')
describe_column(merged,'4G/ LTE')
describe_column(merged,'5G')

Number of nan values for column "3G_x" = 37
Number of nan values for column "3G_y" = 0
Number of nan values for column "4G/ LTE" = 45
Number of nan values for column "5G" = 373

In [84]:
for index, row in merged.iterrows():
    if row['4G/ LTE'] != row['4G/ LTE']:
        merged.loc[index,'4G/ LTE']="No"
    if row['5G'] != row['5G']:
        merged.loc[index,'5G']="No"

In [85]:
merged = merged.drop(['3G_x','Active 4G on both SIM cards','2G','Supports 4G in India (Band 40)'],axis=1)
merged = merged.rename(mapper={'3G_y': '3G'},axis='columns')

23) voLTE, EGDE, GPRS

In [86]:
describe_column(merged,'VoLTE')  
describe_column(merged,'GPRS')  
describe_column(merged,'EDGE')

Number of nan values for column "VoLTE" = 7
Number of nan values for column "GPRS" = 4
Number of nan values for column "EDGE" = 4

In [87]:
for index, row in merged.iterrows():
    if row['EDGE'] != row['EDGE']:
        merged.loc[index,'EDGE']="No"
    if row['GPRS'] != row['GPRS']:
        merged.loc[index,'GPRS']=1
    if row['VoLTE'] != row['VoLTE']:
        merged.loc[index,'VoLTE']=1

24) Card slot

In [88]:
describe_column(merged,'Card Slot')

Number of nan values for column "Card Slot" = 1

In [89]:
for index, row in merged.iterrows():
    if row['Card Slot'] != row['Card Slot']:
        merged.loc[index,'Card Slot']="No"

25) Fast Charging

In [90]:
describe_column(merged,'Fast Charging')

Number of nan values for column "Fast Charging" = 134

In [91]:
for index, row in merged.iterrows():
    if row['Fast Charging'] != row['Fast Charging']:
        merged.loc[index,'Fast Charging']="No"

26) FM Radio

In [92]:
describe_column(merged,'FM Radio')

Number of nan values for column "FM Radio" = 28

In [93]:
for index, row in merged.iterrows():
    if row['FM Radio'] != row['FM Radio']:
        merged.loc[index,'FM Radio']="No"

27) Chipset

In [94]:
describe_column(merged, 'Chipset') 
describe_column(merged,'Chipset Model')  
describe_column(merged,'Chipset Series')

Number of nan values for column "Chipset" = 1
Number of nan values for column "Chipset Model" = 12
Number of nan values for column "Chipset Series" = 61

In [95]:
for index, row in merged.iterrows():
    if row["Chipset"] == row["Chipset"]:
        merged.loc[index,'Chipset']=row['Chipset'].lower()
    else:
        merged.loc[index,'Chipset']="qualicom"  #најчестата категорија

In [96]:
merged = merged.drop(["Chipset Series","Chipset Model"],axis=1)

28) Цена

In [97]:
describe_column(merged,"price")

Number of nan values for column "price" = 0

In [98]:
for index, row in merged.iterrows():
    if row['price'] == row['price']:
        merged.loc[index,'price']=row['price'].replace(",","")
merged['price'] = merged['price'].astype(int)

In [99]:
merged = merged.rename(mapper={'price': 'Price'},axis='columns')

Непотребни атрибути

In [100]:
merged = merged.drop(['Skin','manufacturer','model','Browser',"Browser Supports",'3.5mm Headphone Jack','Video','Email',
                     'Music Playback Time',"Device Type","Type",'Music',"Extra Features",'Document Reader',"Video Recording",
                     "Notch", "Screen to Body Ratio", "Aspect Ratio",'Features',"Model","GPU"],axis=1)

### Преглед на новите атрибути

In [101]:
i = 1 
for column in merged.columns:
    print(str(i)+ " " + column)
    i= i+1

1 Brand
2 Battery capacity
3 Screen Size
4 Touchscreen
5 Internal storage
6 Headphones
7 Face unlock
8 Fingerprint sensor
9 Wireless charging
10 NFC
11 Number of SIMs
12 SIM Type
13 4G/ LTE
14 5G
15 Expandable storage
16 Price
17 3G
18 EDGE
19 GPRS
20 Wi-Fi
21 VoLTE
22 Usb Type
23 Bluetooth
24 OS
25 cpuCores
26 Chipset
27 CPU
28 GPS
29 RAM
30 FM Radio
31 Rear Camera
32 Flash
33 Front Camera
34 PPI
35 Width
36 Height
37 Weight
38 Fast Charging
39 Removable Battery
40 Card Slot
41 Launched_Month
42 Launched_Year
43 Number of Rear Cameras
44 Resolution_x
45 Resolution_y
46 Light Sensor
47 Compass Sensor
48 Proximity Sensor
49 Magnetic Sensor
50 Gravity Sensor
51 Heathtracking Sensor
52 Gyroscope Sensor
53 Accelerometar Sensor
54 Vibration Sensor
55 Laser Sensor

In [102]:
merged.to_csv("../data/merged.csv")